* {
    margin:0;
    padding:0;
    outline:0;
}
    
body {
    font-family: Pacifico, cursive, 51px;
    margin:0;
}
    
.th,td {
    padding-top:15px;
    padding-bottom:15px;
}
    
.li {
    list-style:none;
}
    
.header-menu {
    display:flex;
    position:fixed;
    width:100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height:60px;
    background: #a7534e;
}
    
.header-menu nav {
    display:flex;
    justify-content:flex-end;
    width:100%;
}
    
.lista-menu {
    display:flex;
    justify-content:space-evenly;
    width: 50%;
    align-items:center;
   
   
}
ul li{
    list-style-type: none;
}   
.lista-menu li>a {
    color: #ffff;
    font-size:25px;
    text-decoration:inherit;
}
    
.principal {
    height: 125vh;
    display:flex;
    background: #FAF8F1;    
}
     
.container {
    margin-right:auto;
    margin-left:auto;
    margin-top:75px;
    max-width:960px;
    padding-right:10px;
    padding-left:10px;
    width:100%;
}
    
.subcontainer-principal {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.img-perfil{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
    
.nome-completo {
    font-size:30px;
    color:#793740;
    font-weight:bold;
    height:35px;
}
    
.profissao {
    color:#C36839;
    height:60px;
    font-size:21px;
}
    
.texto-sobre {
    font-size:20px;
    line-height:32px;
    text-align:justify;
}
    
.article-lista {
    display:flex;
    flex-direction:column;
    margin-top:100px;
    margin-bottom:100px;
}
    
.topico-principal {
    font-size:36px;
    color:#a7534e;
}
    
.lista-item {
    padding:32px;
}
       
.lista-titulo {
    margin-bottom: 5px;
    font-size: 22px;
    color: #ffbc71;
    font-weight: 700;
}

.lista-local {
    font-size: 20px;
    color: #91632b;
    line-height: 32px;
    text-decoration: none;
}

.lista-descricao {
    font-size: 20px;
    margin-top: 5px;
    line-height: 32px;
    color: black;
    font-weight: 300;
    text-align:justify;
}

.projetos{
    background-color: #FAF8F1;
}

.div-projeto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.div-projeto-sec{
    display: flex;
    flex-direction: column;
}
   
.img-projeto {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.paragrafo-projeto{
    flex-direction: row;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
}

.footer {
    background-color: #a7534e;
    height: 30vh;
    display: flex;
    align-items: center;
    border-radius: 1px;
}

.links {
    text-decoration: none;
    color: #faedcd;
}
 
.lista-footer li {
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    display:flex;
    align-items: center;
}

.estilo-icone {
    font-size:32px;
    margin-right:10px;
    color: #FFF;
}